{% extends "base.html" %}

{% block title %} - Sobre nosotrxs{% endblock %}

{% block about_class %}active{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Ahora Podemos Murcia
            <small>Sobre nosotrxs</small>
        </h1>
        <p>AHORA PODEMOS MURCIA es un método para la elaboración de una lista para el Consejo Ciudadano Municipal de Murcia, basado en los principios de pluralidad e inclusión.</p>
        <p>Las personas que hemos puesto en marcha esta iniciativa pensamos que la mejor manera de mantener el espíritu original de Podemos, “convertir el hartazgo en cambio político y construir democracia a través de la participación ciudadana”, es poner en marcha un proceso no oficial de primarias abiertas a toda la ciudadanía del municipio, siempre estrictamente dentro de los parámetros del modelo organizativo del que nos hemos dotado en el proceso constituyente estatal de Podemos.</p>
        <p>A través de este proceso se elaborará una lista de dieciocho candidatos. Serán dieciocho y no veinticuatro, que son los miembros que tendrá el consejo, para que queden libres seis puestos para que puedan ser ocupados por personas de otras listas y sensibilidades.</p>
        <p>Animamos a que todas las personas dispuestas a formar parte del Consejo Ciudadano Municipal (miembros de los círculos sectoriales, movimientos sociales y vecinales…) lo hagan a través de AHORA PODEMOS MURCIA. Podrán presentarse como candidatos entre los días 22 y 25 de noviembre a través de la página web <a href="http://candidaturas.ahorapodemosmurcia.org/">http://candidaturas.ahorapodemosmurcia.org/</a>, en la que se podrán incluir fotos, una explicación de la motivación para formar parte del consejo, biografías y vídeos.</p>
        <p>El martes 25 habrá una asamblea en el CSA La Higuera para que los candidatos se puedan dar a conocer y puedan ser avalados por el grupo. El periodo de votación será entre los días 26 y 27, a través de la web Agora Voting, mediante voto único transferible, con tres preguntas separadas: una para elegir secretario general, otra para escoger a las nueve mujeres del Consejo Municipal y otra para elegir a los nueve hombres. Por último, se presentarán los resultados el viernes 28.</p>
        <p>AHORA PODEMOS MURCIA es una iniciativa que aporta a nuestro proceso constituyente la posibilidad de abrirlo a todas las personas del municipio que crean en lo que representa PODEMOS y que garantiza una candidatura plural, participativa, abierta e inclusiva, es decir, garantiza un proceso municipal acorde a los principios y valores en los que se basa PODEMOS.</p>
        <p>¡Ven a construir democracia desde abajo con nosotros!</p>
    </div>
</div>
{% endblock %}