{% extends "base.html" %}

{% block content %}
<!-- Introduction Row -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Ahora Podemos Murcia
            <small>Candidaturas</small>
        </h1>
        <p>Candidatos y candidatas de Ahora Podemos Murcia para la secretar&iacute;a general y el consejo ciudadano de Podemos en el municipio de Murcia.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Secretar&iacute;a General</h2>
    </div>
    {% for c in candidatos_sg %}
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="{{ c.get_imagen }}" alt="">
        <h3><a href="{% url "candidato" c.user.username %}">{{ c.user.first_name }} {{ c.user.last_name }}</a></h3>
        <p>{{ c.get_resumen }}</p>
    </div>
    {% empty %}
    <div class="col-lg-4 col-sm-6 text-center">
        <p>No hay todav&iacute;a ninguna candidatura presentada.</p>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Consejo Ciudadano</h2>
    </div>
    {% for c in candidatos_cc %}
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="{{ c.get_imagen }}" alt="">
        <h3><a href="{% url "candidato" c.user.username %}">{{ c.user.first_name }} {{ c.user.last_name }}</a></h3>
        <p>{{ c.get_resumen }}</p>
    </div>
    {% empty %}
    <div class="col-lg-4 col-sm-6 text-center">
        <p>No hay todav&iacute;a ninguna candidatura presentada.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}