{% extends "base.html" %}

{% block content %}
<!-- Introduction Row -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Ahora Podemos Murcia
            <small>Candidaturas</small>
        </h1>
        <p>Candidatos y candidatas de Ahora Podemos Murcia para la secretar&iacute;a general y el consejo ciudadano de Podemos en el municipio de Murcia.</p>
        <p>Las votaciones ser&aacute;n a trav&eacute;s de Agora Voting. Se podrá votar desde el 26 de noviembre a las 12:00 hasta el 27 de noviembre a las 20:00.</p>
        <p>Se va usar un sistema de voto VUT, por lo que es muy importante en que orden se colocan los candidatos y candidatas. La preferencia es importante a la hora de salir elegidos o no. Si se equivoca en el orden puede desmarcar los candidatos y volverlos a poner en el orden correcto.</p>
        <p>Nota: Si se desea que un secretario o secretaria general si no sale elegido opte al consejo ciudadano, hay que votarlo en ambas fases, tanto para la secretaría como para el consejo.</p>
        <p><strong><a href="https://agora.agoravoting.com/ahorapodemosmurcia/primarias-de-ahora-podemos-murcia" target="blank_">Antes de votar hay que incluirse en el &aacute; pinchando en este enlace y luego pulsando en "Join the agora"</a></strong></p>
        <p><strong><a href="https://agora.agoravoting.com/ahorapodemosmurcia/primarias-de-ahora-podemos-murcia/election/primarias-de-ahora-podemos-murcia-para-el-consejo-ciudadano-de-po" target="blank_">Pulsa aqu&iacute; para ir a la votaci&oacute;n</a></strong></p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Secretar&iacute;a General</h2>
    </div>
    {% for c in candidatos_sg %}
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="{{ c.get_imagen }}" alt="">
        <h3><a href="{% url "candidato" c.user.username %}">{{ c.user.first_name }} {{ c.user.last_name }}</a></h3>
        <p>{{ c.get_resumen }}</p>
    </div>
    {% empty %}
    <div class="col-lg-4 col-sm-6 text-center">
        <p>No hay todav&iacute;a ninguna candidatura presentada.</p>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Consejo Ciudadano</h2>
    </div>
    {% for c in candidatos_cc %}
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="{{ c.get_imagen }}" alt="">
        <h3><a href="{% url "candidato" c.user.username %}">{{ c.user.first_name }} {{ c.user.last_name }}</a></h3>
        <p>{{ c.get_resumen }}</p>
    </div>
    {% empty %}
    <div class="col-lg-4 col-sm-6 text-center">
        <p>No hay todav&iacute;a ninguna candidatura presentada.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}