{% extends "base.html" %}

{% block title %} - Recuperar contrase&ntilde;a{% endblock %}

{% block register_class %}active{% endblock %}

{% block content %}
<h1>Recuperar contrase&ntilde;a</h1>
<hr/>
<form action="{% url "reset_password" %}" method="post" class="form-horizontal">
    {% csrf_token %}
    
    {% include "forms/form_errors.html" with form=reset_password_form %}
    {% include "forms/form_ok.html" with condition=sent message='Contraseña enviada correctamente.' %}
    {% include "forms/form_field.html" with field=reset_password_form.email %}
    
	<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
			<input type="submit" value="Recuperar contrase&ntilde;a" class="btn btn-primary" />
		</div>
	</div>
</form>
{% endblock %}